<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good day, <%= @user.email %>!</h1>
    <p>you account has succesfuly been <%= @user.user_status %></p>
  </body>
</html>